@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(195, 183, 167) */
}

.wrapper{
   background-color: rgb(195, 183, 167)
}

/* Bootstrap icon*/

/* Universal selector*/

/* Custom variables */

/* Select all images */


img {

    aspect-ratio: 1;
    object-fit:cover;
    object-fit: center;
}

/*logo*/
img[ alt='logo']{
        width: 10rem;
    
      
    
}
#me-image{
    width: 25rem;
    float: left;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 margin-top: 30px;
 margin-left: 30px;
}








/* wrapper*/
:is(.wrapper){
  display: grid;
  grid-template-rows: auto minmax(100 dvh, 100%) auto;
}
/*app*/

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .navbar-nav .nav-link,
.navbar-brand {
  font-family: 'Playfair Display', serif;
  
}
  
  nav {
    padding: 30px;
   background-color: rgb(237, 223, 207);
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }

  ::-webkit-scrollbar{
    display:none;
  }

  section {
    scroll-margin-block: 5rem
  }

#about img{
  padding: 0
  ;
}


/*media query*/
  @media screen and (width < 800px) {
    #landing .row {
      display: block;
      height: auto;
    }
  }
  #details {
    font-family: Playfair Display;
    text-align: right;
    margin-top: 10%;
  }